<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.system.api.mapper.UserRoleMapper">

    <resultMap type="com.fun.system.api.entity.UserRole" id="UserRoleMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into fun_system.sys_user_role()
        values
        <foreach collection="entities" item="entity" separator=",">
            ()
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into fun_system.sys_user_role()
        values
        <foreach collection="entities" item="entity" separator=",">
            ()
        </foreach>
        on duplicate key update
    </insert>

    <select id="selectRoleByUserId" resultType="com.fun.system.api.entity.Role">
        SELECT role.*
        FROM sys_user_role ur
        LEFT JOIN sys_role role on (ur.role_id =role.role_id)
        where  ur.user_id =#{userId}
    </select>

    <select id="selectRoleIdsByUserId"  resultType="LONG">
        SELECT ur.role_id
        FROM sys_user_role ur
        WHERE  ur.user_id =#{userId}
    </select>

    <delete id="delByUserId">
        delete  from sys_user_role ur  where ur.user_id =#{userId};
    </delete>
</mapper>

