<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.auth.mapper.OauthClientDetailsMapper">

    <resultMap type="com.fun.auth.entity.OauthClientDetails" id="OauthClientDetailsMap">
        <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
        <result property="resourceIds" column="resource_ids" jdbcType="VARCHAR"/>
        <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types" jdbcType="VARCHAR"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri" jdbcType="VARCHAR"/>
        <result property="authorities" column="authorities" jdbcType="VARCHAR"/>
        <result property="accessTokenValidity" column="access_token_validity" jdbcType="INTEGER"/>
        <result property="refreshTokenValidity" column="refresh_token_validity" jdbcType="INTEGER"/>
        <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"/>
        <result property="autoapprove" column="autoapprove" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="clientId" useGeneratedKeys="true">
        insert into fun_system.sys_oauth_client_details(resource_ids, client_secret, scope, authorized_grant_types, web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove, create_time, update_time, del_flag, status)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.resourceIds}, #{entity.clientSecret}, #{entity.scope}, #{entity.authorizedGrantTypes}, #{entity.webServerRedirectUri}, #{entity.authorities}, #{entity.accessTokenValidity}, #{entity.refreshTokenValidity}, #{entity.additionalInformation}, #{entity.autoapprove}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag}, #{entity.status})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="clientId" useGeneratedKeys="true">
        insert into fun_system.sys_oauth_client_details(resource_ids, client_secret, scope, authorized_grant_types, web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove, create_time, update_time, del_flag, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.resourceIds}, #{entity.clientSecret}, #{entity.scope}, #{entity.authorizedGrantTypes}, #{entity.webServerRedirectUri}, #{entity.authorities}, #{entity.accessTokenValidity}, #{entity.refreshTokenValidity}, #{entity.additionalInformation}, #{entity.autoapprove}, #{entity.createTime}, #{entity.updateTime}, #{entity.delFlag}, #{entity.status})
        </foreach>
        on duplicate key update
         resource_ids = values(resource_ids) , client_secret = values(client_secret) , scope = values(scope) , authorized_grant_types = values(authorized_grant_types) , web_server_redirect_uri = values(web_server_redirect_uri) , authorities = values(authorities) , access_token_validity = values(access_token_validity) , refresh_token_validity = values(refresh_token_validity) , additional_information = values(additional_information) , autoapprove = values(autoapprove) , create_time = values(create_time) , update_time = values(update_time) , del_flag = values(del_flag) , status = values(status)     </insert>

</mapper>

